{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Edit your profil</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.birthdate) }}
    {{ form_row(form.password) }}
    {{ form_row(form.confirm_password) }}

    <button type="submit" class="btn btn-success">Modify</button>
    {{ form_end(form) }}
{% endblock %}